body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
 
.input-validation-error,
input.error {
    border: 2px solid red !important;
}


.noPadding {
    padding: 0;
}


form.searchBar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.searchBar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.searchBar::after {
    content: "";
    clear: both;
    display: table;
}

.noPadding {
    padding: 0;
}
.noMargin {
    margin: 0;
}
.required label {
    font-weight: bold;
}

    .required label:after {
        color: #e32;
        content: ' *';
        display: inline;
    }
.profilePic {
    width: 36px;
    height: 36px;
    border-radius: 100%;
     
    
}